@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}


.Home {
    border-color: none;
}

.header{
    width : 100%;
    height : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .consolelogimg{
    height:150px;
    width:g150px;
    margin-top: 10px;
}

.Home  .intro {
    text-align: center;
}

.cl {
    text-align: center;
}

.now {
    font-size: 20px;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.section3 .table{
    margin-top: 25px;
    width:600px;
    height:600px;
    border-radius: 100px;
    background-color: #CBE9F2;
}

.F {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.F .Point1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.F1 {
    margin-top: 25px;
    margin-right: 100px;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    font-size:40px;
    font-weight:600;
    color:#2C3340;
    border-radius: 150px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NF {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-top-color: #CBE9F2;
}

.F2 {
    margin-top: 25px;
    margin-right: 100px;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    font-size:40px;
    font-weight:600;
    color:#2C3340;
    border-radius: 150px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NF .Point2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}




.TP {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.TP .Point3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.T {
    margin-top: 25px;
    margin-right: 100px;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    font-size:40px;
    font-weight:600;
    color:#2C3340;
    border-radius: 150px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    color: #2C3340;
    text-decoration:none;
} 
